org.globaltester.testspecification/testSpecSchema/TestSpecificationSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://globaltester.org/testspecification" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://globaltester.org/testspecification" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:complexType name="Profile">
		<xs:annotation>
			<xs:documentation>A profile defines the scope for which a part of the test plan is applicable.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="LinkData">
				<xs:sequence>
					<xs:element name="Name" type="xs:string">
						<xs:annotation>
							<xs:documentation>The name of the profile.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Description" type="xs:string">
						<xs:annotation>
							<xs:documentation>The description of the profile.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="type" type="xs:string" use="optional">
					<xs:annotation>
						<xs:documentation>Optionally, profiles can be grouped by this attribute.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Certificate" type="Certificate">
		<xs:annotation>
			<xs:documentation>This is the root element of a certificate XML file.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="Certificate">
		<xs:annotation>
			<xs:documentation>The Certificate type defines elements specifying a specific CV certificate used in the test scenarios. Optionally, irregular modifications may be noted where applicable.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="TestHierarchy">
				<xs:sequence>
					<xs:element name="Purpose" type="Hypertext">
						<xs:annotation>
							<xs:documentation>The purpose of the certificate. May additionally contain a brief textual description of the certificate and its content.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Version" type="xs:string">
						<xs:annotation>
							<xs:documentation>The version of this certificate definition.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CertificateContent">
						<xs:complexType>
							<xs:sequence>
								<xs:choice>
									<xs:sequence>
										<xs:annotation>
											<xs:documentation>If the certificate has a (regular) signer, its certificate is linked and the corresponding elements become optional.</xs:documentation>
										</xs:annotation>
										<xs:element name="SignerCertificate" type="LinkIDType">
											<xs:annotation>
												<xs:documentation>Link to the certificate, that identifies the signer of this certificate.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="CertificateAuthorityReference" type="ModifiableCertificateText" minOccurs="0">
											<xs:annotation>
												<xs:documentation>The certificate authority reference, aka "signer".</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="SigningKey" type="ModifiableCertificateText" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Textual description of the key this certificate was signed with.</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
									<xs:sequence>
										<xs:annotation>
											<xs:documentation>If the certificate has no signer it could link to, all elements must be given explicitly.</xs:documentation>
										</xs:annotation>
										<xs:element name="CertificateAuthorityReference" type="ModifiableCertificateText">
											<xs:annotation>
												<xs:documentation>The certificate authority reference, aka "signer".</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="SigningKey" type="ModifiableCertificateText">
											<xs:annotation>
												<xs:documentation>Textual description of the key this certificate was signed with.</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:choice>
								<xs:element name="CertificateHolderReference" type="ModifiableCertificateText">
									<xs:annotation>
										<xs:documentation>The certificate holder reference, aka "subject".</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="CertificateHolderAuthorization" type="ModifiableCertificateText">
									<xs:annotation>
										<xs:documentation>The certificate holder authorization, aka "terminal type and rights".</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="CertificateEffectiveDate" type="ModifiableCertificateText">
									<xs:annotation>
										<xs:documentation>The certificate effective date, aka "valid from".</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="CertificateExpirationDate" type="ModifiableCertificateText">
									<xs:annotation>
										<xs:documentation>The certificate expiration date, aka "valid until".</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="PublicKey" type="ModifiableCertificateText">
									<xs:annotation>
										<xs:documentation>Textual description of the certificate's public key.</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="CertificateExtension" type="ModifiableCertificateText" minOccurs="0" maxOccurs="unbounded">
									<xs:annotation>
										<xs:documentation>Optionally, certificates may contain multiple extensions, that are described within these elements.</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="CertificateModification" type="CertificateModification" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Optionally, certificates may need to be modified, what is described within this element.</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="CertificateModification" type="CertificateModification" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Optionally, certificates may need to be modified, what is described within this element.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ModifiableCertificateText" mixed="true">
		<xs:sequence>
			<xs:element name="CertificateModification" type="CertificateModification" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Optionally, certificates may need to be modified, what is described within this element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CertificateModification">
		<xs:sequence>
			<xs:element name="Description" type="xs:string">
				<xs:annotation>
					<xs:documentation>Description of this certificate modification.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TechnicalModification" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The technical modification can optionally be used to specify a technical reprensentation of the modification to be processed automatically by some testing suite.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Reference">
		<xs:annotation>
			<xs:documentation>A reference refers to external documents and specifications a TR03105 document is based on.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="LinkData">
				<xs:sequence>
					<xs:element name="Content" type="xs:string">
						<xs:annotation>
							<xs:documentation>The content of this specification reference.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TestHierarchy" abstract="true">
		<xs:annotation>
			<xs:documentation>This is the abstract base type of all test parts, usually in separate files.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Text" type="FormattedContent" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This optional element contains descriptive document content that will be printed right before the test object.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="LinkIDType" use="required">
			<xs:annotation>
				<xs:documentation>ID of the test part.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="TestHierarchyReference">
		<xs:annotation>
			<xs:documentation>This is the base type of all references to separate files of the test specification. It only contains a file name.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="TestLayer" type="TestLayer">
		<xs:annotation>
			<xs:documentation>This is the root element of a test layer XML file.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="TestLayer">
		<xs:annotation>
			<xs:documentation>The test layer covers all test scenarios for a single test object abstraction level. There could be one or more test plans within a single specification.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="TestHierarchy">
				<xs:sequence>
					<xs:element name="TestUnit" type="TestHierarchyReference" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>This element refers to the test units. There could be one or more test units within a single specification.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="TestUnit" type="TestUnit">
		<xs:annotation>
			<xs:documentation>This is the root element of a test unit XML file.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="TestUnit">
		<xs:annotation>
			<xs:documentation>The test unit covers all test scenarios for a single test functionality There could be one or more test unit within a single specification</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="TestHierarchy">
				<xs:sequence>
					<xs:element name="TestCase" type="TestHierarchyReference" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>This element refers to the test cases. There could be one or more test cases within a single test unit.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="TestCase" type="TestCase">
		<xs:annotation>
			<xs:documentation>This is the root element of a test case XML file.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="TestCase">
		<xs:annotation>
			<xs:documentation>The test case the testing procedure for a single test scenario. There could be one or more test case within a single test unit</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="TestHierarchy">
				<xs:sequence>
					<xs:element name="Title" type="xs:string">
						<xs:annotation>
							<xs:documentation>Title of the test case.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:choice>
						<xs:annotation>
							<xs:documentation>A test case element may contain a regular test case representation or a test case that has been moved or deleted.</xs:documentation>
						</xs:annotation>
						<xs:sequence>
							<xs:annotation>
								<xs:documentation>This sequence represents a regular test case.</xs:documentation>
							</xs:annotation>
							<xs:element name="Version" type="xs:string">
								<xs:annotation>
									<xs:documentation>Current version of the test case.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="Purpose" type="Hypertext">
								<xs:annotation>
									<xs:documentation>The purpose of this test case.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="Profile" type="LinkIDType" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Links to all relevant profiles</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="Reference" type="LinkIDType" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Reference to any kind of specification this test case is based on</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="Precondition" type="ActionStep" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Optionally, the test case may have preconditions that need to be fulfilled before execution. The order of elements determines the order of execution.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="TestStep" type="ActionStep" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Test cases contain multiple test steps. The order of elements determines the order of execution.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="Postcondition" type="ActionStep" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Optionally, the test case may have postconditions that need to be fulfilled after execution. The order of elements determines the order of execution.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="MetaData" type="KeyValueType" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>These optional elements contain meta information in form of key-value pairs, e.g. if a test case is destructive.</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
						<xs:sequence>
							<xs:annotation>
								<xs:documentation>A deleted or moved test case only contains a comment.</xs:documentation>
							</xs:annotation>
							<xs:element name="Comment" type="Hypertext">
								<xs:annotation>
									<xs:documentation>The comment element explains the deletion or movement of this test case.</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:choice>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ActionStep">
		<xs:annotation>
			<xs:documentation>The action step represents one single step inside a sequence of tasks, e.g. within test cases.</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:annotation>
				<xs:documentation>An action step element may contain simple text within a text element, a call of a routine within a routine call element or a regular representation of an action step, i.e. a command and its expected results.</xs:documentation>
			</xs:annotation>
			<xs:element name="Text" type="Hypertext">
				<xs:annotation>
					<xs:documentation>Simple textual description of the step.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RoutineCall" type="RoutineCall">
				<xs:annotation>
					<xs:documentation>A formatting element that represents a call of a routine.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:sequence>
				<xs:element name="Command" type="Command">
					<xs:annotation>
						<xs:documentation>The Command represents the actual action that is performed within a single step.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="TechnicalCommand" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>The technical command can optionally be used to specify a technical reprensentation of the command to be able to process the step automatically by some testing suite.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="TestDataReference" type="LinkIDType" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>If the step refers to some predefined test data, such as certificates, the data element is referred using this element.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Description" type="Hypertext" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>The description adds further information about the command that is performed in the step.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ExpectedResult" type="Result" maxOccurs="unbounded" minOccurs="0">
					<xs:annotation>
						<xs:documentation>The expected result denotes the behaviour of the test object in order to pass the test.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Command">
		<xs:annotation>
			<xs:documentation>The Command represents the actual action that is performed within a single test step.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Text" type="Hypertext">
				<xs:annotation>
					<xs:documentation>Textual description of the command.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="APDUCommand">
		<xs:annotation>
			<xs:documentation>The APDUcommand is a special kind of command containing a specific ISO 7816 APDU to be send to the test object.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="Command">
				<xs:sequence>
					<xs:element name="APDU">
						<xs:annotation>
							<xs:documentation>The APDU used by the command.</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:simpleContent>
								<xs:extension base="xs:string">
									<xs:attributeGroup ref="APDUAttributes"/>
								</xs:extension>
							</xs:simpleContent>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Result">
		<xs:annotation>
			<xs:documentation>The Result represents the actual result that is expected within a single test step.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Text" type="Hypertext">
				<xs:annotation>
					<xs:documentation>Textual description of the result.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="APDUResult">
		<xs:annotation>
			<xs:documentation>The APDU result is a special kind of result containing a specific ISO 7816 APDU to be received from the test object.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="Result">
				<xs:sequence>
					<xs:element name="APDU">
						<xs:annotation>
							<xs:documentation>
								The expected APDU result.
							</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:simpleContent>
								<xs:extension base="xs:string">
									<xs:attributeGroup
										ref="APDUAttributes" />
								</xs:extension>
							</xs:simpleContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="TechnicalResult" type="xs:string" maxOccurs="unbounded" minOccurs="0"></xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:attributeGroup name="APDUAttributes">
		<xs:annotation>
			<xs:documentation>All APDU-related elements share some common attributes.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="sm" type="xs:boolean" use="optional">
			<xs:annotation>
				<xs:documentation>Optionally, this boolean flag causes an APDU to be sent via secure messaging. If unset, use of secure messaging is determined by messaging context.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:complexType name="KeyValueType">
		<xs:annotation>
			<xs:documentation>This type contains arbitrary information in form of key-value pairs.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="key" type="xs:string" use="required">
					<xs:annotation>
						<xs:documentation>The key that describes these data.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="Routine" type="Routine">
		<xs:annotation>
			<xs:documentation>This is the root element of a routine XML file.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="Routine">
		<xs:annotation>
			<xs:documentation>A routine is a parametrized sequence of actions. It is defined once and usually called multiple times throughout a test document.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="TestHierarchy">
				<xs:sequence>
					<xs:element name="Title" type="xs:string">
						<xs:annotation>
							<xs:documentation>Title of the routine.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Purpose" type="Hypertext">
						<xs:annotation>
							<xs:documentation>The purpose of this routine.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Reference" type="LinkIDType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Reference to any kind of specification this routine is based on.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Parameter" type="KeyValueType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>These optional elements contain parameters of the routine in form of key-value pairs. The key attribute identifies the parameter, the text content is its default value.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RoutineStep" type="ActionStep" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Routines contain multiple steps.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MetaData" type="KeyValueType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>These optional elements contain meta information in form of key-value pairs.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RoutineCall">
		<xs:annotation>
			<xs:documentation>This type defines a call of a routine. It contains the target routine's ID and parameters.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Parameter" type="KeyValueType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>These optional elements contain parameters of the routine in form of key-value pairs. The key attribute identifies the parameter, the text content is its actual value.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="target" type="LinkIDType" use="required">
			<xs:annotation>
				<xs:documentation>This attribute identifies the routine to be called.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:attributeGroup name="NonTextBlockAttributes">
		<xs:annotation>
			<xs:documentation>All non-textual content must be explained by textual attributes.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="caption" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Caption text of the non-textual element.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="alternativeText" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>This text, that describes the non-textual element, will be used alternatively if the element can not be presented properly.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:group name="FormattedTextGroup">
		<xs:annotation>
			<xs:documentation>This group lists all formatting  text elements.</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="Heading">
				<xs:annotation>
					<xs:documentation>A formatting element that represents a text heading.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="level" type="xs:string" use="required">
								<xs:annotation>
									<xs:documentation>The level attribute influences the chapter numbering.</xs:documentation>
								</xs:annotation>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="Paragraph" type="Hypertext">
				<xs:annotation>
					<xs:documentation>A formatting element that represents a text paragraph. It contains plain text and/or links to objects.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Enumeration">
				<xs:annotation>
					<xs:documentation>A formatting element that represents a special text paragraph consisting of enumerated text items.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Item" type="Hypertext" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="List">
				<xs:annotation>
					<xs:documentation>A formatting element that represents a special text paragraph consisting of listed text items.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Item" type="Hypertext" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:choice>
	</xs:group>
	<xs:group name="FormattedContentGroup">
		<xs:annotation>
			<xs:documentation>This group lists all formatting elements.</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="Table">
				<xs:annotation>
					<xs:documentation>A formatting element that represents data in form of a table. It consits of multiple rows.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Row" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>A row consits of multiple cells.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Cell" type="Hypertext" maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation>A cell contains the table's text content and/or links to test objects.</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attributeGroup ref="NonTextBlockAttributes"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Image">
				<xs:annotation>
					<xs:documentation>A formatting element that represents an image loaded from a file.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attributeGroup ref="NonTextBlockAttributes"/>
					<xs:attribute name="file" type="xs:string" use="required">
						<xs:annotation>
							<xs:documentation>Name and path of the image file.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
			<xs:group ref="FormattedTextGroup"/>
		</xs:choice>
	</xs:group>
	<xs:complexType name="FormattedContent">
		<xs:annotation>
			<xs:documentation>This type describes formatted document content. Only formatting elements are allowed, no plain text content.</xs:documentation>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:group ref="FormattedContentGroup"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="FormattedText">
		<xs:annotation>
			<xs:documentation>This type describes formatted text. Only formatting text elements are allowed, no plain text content.</xs:documentation>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:group ref="FormattedTextGroup" maxOccurs="unbounded"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Hypertext" mixed="true">
		<xs:annotation>
			<xs:documentation>This type defines plain text content that may contain links to test objects.</xs:documentation>
		</xs:annotation>
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="Link" type="Link">
				<xs:annotation>
					<xs:documentation>A formatting element that represents a link to a test object.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Link" mixed="true">
		<xs:annotation>
			<xs:documentation>The link type is the base type of any kind of element that is refering to a link data type. The text content defines the textual representation of the link. If empty, the linked object defines its representation.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="target" type="LinkIDType" use="required">
			<xs:annotation>
				<xs:documentation>ID of the object that link refers to.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="LinkData">
		<xs:annotation>
			<xs:documentation>The link data type is the base type of any kind of data that is referred by links.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="id" type="LinkIDType" use="required">
			<xs:annotation>
				<xs:documentation>The ID of this data object.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="linkText" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>This optional attribute contains the text that will be printed if this object is linked somewhere in the text document. If unset, the id attribute will be printed.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:simpleType name="LinkIDType">
		<xs:annotation>
			<xs:documentation>Type used by all ID attributes and elements.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:element name="Profiles" type="Profiles">
		<xs:annotation>
			<xs:documentation>This is the root element of the profiles XML file.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="Profiles">
		<xs:annotation>
			<xs:documentation>This type collects all profiles in a single structure.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="TestHierarchy">
				<xs:sequence>
					<xs:element name="Profile" type="Profile" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="Certificates" type="Certificates">
		<xs:annotation>
			<xs:documentation>This is the root element of the certificates XML file.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="Certificates">
		<xs:annotation>
			<xs:documentation>This type collects all certificates in a single structure.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="TestHierarchy">
				<xs:sequence>
					<xs:element name="Certificate" type="TestHierarchyReference" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>This element refers to the certificates. There could be multiple certificates.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="References" type="References">
		<xs:annotation>
			<xs:documentation>This is the root element of the references XML file.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="References">
		<xs:annotation>
			<xs:documentation>This type collects all references in a single structure.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="TestHierarchy">
				<xs:sequence>
					<xs:element name="Reference" type="Reference" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>The file contains multiple references.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Routines" type="Routines">
		<xs:annotation>
			<xs:documentation>This is the root element of the routines XML file.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="Routines">
		<xs:annotation>
			<xs:documentation>This type collects all routines in a single structure.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="TestHierarchy">
				<xs:sequence>
					<xs:element name="Routine" type="TestHierarchyReference" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>This element refers to the routines. There could be multiple routines.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Document" abstract="true">
		<xs:annotation>
			<xs:documentation>Abstract base type for a BSI TR03105 document.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="VersionHistory">
				<xs:annotation>
					<xs:documentation>This structure archives the version history of the document.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Version" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>There may be multiple versions of the document that have been released before.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="VersionID" type="xs:string">
										<xs:annotation>
											<xs:documentation>ID of this version, aka "version number".</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Date" type="xs:date">
										<xs:annotation>
											<xs:documentation>Release date of this version.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Editor" type="xs:string">
										<xs:annotation>
											<xs:documentation>Editors of this version.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Description" type="xs:string">
										<xs:annotation>
											<xs:documentation>Description of this version, especially the document's changes.</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Text" type="FormattedContent" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This optional element contains descriptive document content that will be printed right after the document version and before further test objects.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
